# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
.m2/repository/

# Java
*.class

# Log files
*.log
logs/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db
